.bg {
    background: #1c1c1c;
    height: 100vh;
}

.operation_input {
    background: none;
    border: none;
    width: 17rem;
    outline: none;
}

table {
    width: 100%;
}

.last_try {
    font-size: 2.2rem;
}

.b {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.b:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(197, 197, 197);
}

.stage {
    font-size: 2.5rem;
}

.btn-close {
    outline: none;
}

.vcenter {
    height: 100%;
}

.home_card:hover {
    transform: scale(1.05);
    color:  red;
}
